main{
  width: 1611px;
  height: 936px;
  background-color: #1E1F2F;
  color: white;
  font-family: "Bebas Neue";
  display: flex;
  overflow: hidden;
}

.column-left{
  gap: 80px;
  flex-grow: 1;
  width: .5em;
}

.column-right{
  flex-grow: 1;
  width: .5em;
}

header{
  display: flex;
  position: fixed;
  top: 125px;
  left: 130px;
}

.header-1{
  width: 31.06px;
  height: 27.42px;
  background-color: white;
}

.header-2{
  position: relative;
  top: 27.42px;
  width: 60.47px;
  height: 68.55px;
  background-color: #E82C4F;
}

.R{
  position: relative;
  top: 17.59px;
  left: 16.08px;
}

.header-3{
  display: flex;
  width: 331px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 96px;
  line-height: 128%;
  margin: 0px 40px;
}

content{
  display: flex;
  width: 800px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  font-size: 156px;
  line-height: 93.5%;

  position: fixed;
  top: 301px;
  left: 130px;
}

footer{
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 80px;

  font-size: 64px;
  line-height: 40px;
  letter-spacing: 5.12px;

  position: fixed;
  top: 781px;
  left: 130px;
}

img{
  margin: 0px 20px 0px 0px;
}

.outer-white{
  width: 444px;
  height: 558px;
  flex-shrink: 0;
  border: 60px solid #FFF;

  position: relative;
  top: 166px;
  left: 150px;
}

.red{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 40px solid var(--color-primary-base, #E82C4F);

  position: relative;
  top: 79px;
  left: 72px;
}

.inner-white{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: 20px solid #FFF;

  position: relative;
  top: 40px;
  left: 40px;
}

.foot{
  display: flex;
  box-sizing: content-box;
  width: 444px;
  height: 169px;

  position: relative;
  bottom: 0px;
  left: 0px;
}

.square{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: 20px solid #3256A1;

  position: relative;
  bottom: 72px;
  left: 59px;
}

.circle{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 20px solid #FFF;

  position: relative;
  bottom: 72px;
  left: 59px;
}