main{
  width: 1611px;
  height: 936px;
  background-color: #1E1F2F;
  color: white;
  font-family: "Bebas Neue";

  position: relative;
  display: flex;
  overflow: hidden;
}

.column-left{
  gap: 80px;
  flex-grow: 1;
  width: .5em;
}

.column-right{
  flex-grow: 1;
  width: .5em;
}

header{
  display: flex;
  position: relative;
  top: 125px;
  left: 130px;
}

.header-1{
  width: 31.06px;
  height: 27.42px;
  background-color: white;
}

.header-2{
  position: relative;
  top: 27.42px;
  width: 60.47px;
  height: 68.55px;
  background-color: #E82C4F;
}

.R{
  position: relative;
  top: 17.59px;
  left: 16.08px;
}

.header-3{
  display: flex;
  width: 331px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  font-size: 96px;
  line-height: 128%;
  margin: 0px 40px;
}

content{
  display: flex;
  width: 800px;
  height: 400px;
  flex-direction: column;
  justify-content: center;

  font-size: 156px;
  line-height: 93.5%;

  position: relative;
  top: 176px;
  left: 130px;
}

footer{
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  gap: 80px;

  font-size: 64px;
  line-height: 40px;
  letter-spacing: 5.12px;

  position: relative;
  top: 256px;
  left: 130px;
}

img{
  margin: 0px 20px 0px 0px;
}

.outer-white{
  box-sizing: border-box;
  width: 504px;
  height: 618px;
  border: 60px solid #FFF;

  position: relative;
  top: 166px;
  left: 150px;
  z-index: 0;
}

.red{
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  border: 40px solid var(--color-primary-base, #E82C4F);

  position: relative;
  top: 79px;
  left: 72px;
}

.inner-white{
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 20px solid #FFF;
  margin: 40px;
}

.box-1{
  box-sizing: border-box;
  width: 558px;
  height: 644px;
  border: 60px solid #48596D;

  position: absolute;
  top: -179px;
  left: 1167.5px;
}

.box-2{
  box-sizing: border-box;
  width: 558px;
  height: 644px;
  border: 60px solid #2D2F48;

  position: absolute;
  top: 385px;
  left: 689.5px;
}

.square{
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 20px solid #3256A1;

  position: relative;
  top: 119px;
  left: 72px;
}

.circle{
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 20px solid #FFF;

  position: relative;
  top: 39px;
  left: 232px;
}